* {
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
    height: 50px;
}
nav {
    position: fixed;
    min-height: 50px;
    width: 100%;
    background-color: #212121;
    z-index: 2;
}
.menu {
    display: flex;
    justify-content: space-between;   
    margin: 0;
    padding: 13px 70px; 
    list-style-type: none;
}
.menu .menu_link{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}
.menu .menu_item{
    border-right: 2px black dotted;
    padding-right: 28px;
}
.subheader {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 84px;
    background-color: rgb(0,0,0, .6);
}
.subheader .subheader_logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;
}
.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
}
.subheader .subheader_call {
    text-align: right;
    margin-top: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
}
.subheader .subheader_phone {
    display: block;
    text-align: right;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
}
.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.promo {
    padding: 150px 0 135px 0;
    height: 800px;
    background: url(../img/main-bg.png) center center/cover no-repeat;
}
.promo .promo_header {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center;

}
.promo .promo_subheader {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}
.promo .promo_text {
    margin-top: 23px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.reasons {
    min-height: 900px;
    padding: 70px 0 65px 0;
}
.label {
    width: 112px;
    height: 24px;
    background-color: #000000;  
    display: block;
    margin: 0 auto;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}
.title {
    margin: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.reasons .reason_block {
    min-height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.reasons .reason_block .reason_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}
.reasons .reason_block .reason_text {    
    width: 342px;
}
.reasons .reason_block .reason_text .reason_header {
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
    
}
.reasons .reason_block .reason_text .reason_descr {
    font-weight: 300;
    color: #202020;    
    font-size: 15px;    
    line-height: 21px;
}